<%= form_with(model: keystroke_session, local: true, id: 'keystroke_session_form', class:'col-8') do |form| %>
  <% if keystroke_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(keystroke_session.errors.count, "error") %> prohibited this keystroke_session from being saved:</h2>

      <ul>
        <% keystroke_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Please, input this text:</h1>

  <div id="input-text-example">
    <p id="input-text-example-text">
      <%= @input_text.text %>
    </p>
    <%= form.text_area :text, autofocus: true, class: 'text', id: 'text', cols: "86", rows: "10" %>
  </div>

  <%= form.hidden_field(:keystrokes, id: 'keystrokes') %>

  <div class="actions text-right">
    <%= form.submit :Submit, id: 'keystroke-submit', class: 'btn btn-success', disabled: true %>
  </div>
<% end %>
